.talkheader {
    display: flex;
    justify-content: space-between;
    /* align-items: center;  */
    height: 10vh;
    padding: 10px;
    background-color: #eeeeee;
}

.talkheader__picture-container {
    width: 40px;
    height: 40px;
    margin-left: 35px;
    overflow: hidden;
    border-radius: 50%;
    /* border: 1px solid #beb7b7; */
}

.talkheader__picture {
    width: 40px;
    height: 40px;
}

.talkheader__user-container {
    width: 70%;
}

@media screen and (min-width: 768px) {
    .talkheader {
        padding: 20px;
    }
    .talkheader__picture-container {
        width: 65px;
        height: 65px;
        margin-left: 50px;
    }
    .talkheader__picture {
        width: 65px;
        height: 65px;
    }
    .talkheader__user-container {
        width: 80%;
        font-size: 1.5rem;
    }
}