.searchmessage {
    height: 10%;
    padding: 10px;
    background-color: #f8f8f8;
}

.searchmessage__label {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    padding: 5px 10px;
    background-color: #fff;
    border: none;
    border-radius: 25px;
}

.searchmessage__icon {
    font-size: 1.2rem;
}

.searchmessage__input {
    display: block;
    width: 90%;
    padding: 5px;
    font-family: 'Barlow';
    font-size: 1.2rem;
    border: none;
    outline: none;
}

@media screen and (min-width: 768px) {
    .searchmessage {
        padding: 20px;
    }
    .searchmessage__label {
        padding: 10px 20px;
    }
    .searchmessage__icon {
        font-size: 2rem;
    }
    .searchmessage__input {
        display: block;
        font-size: 1.5rem;
    }
}