.rightcol {
    position: absolute;
    top: 0;
    /* left: 0; */
    left: 100%;
    width: 100%;
    height: 100%;
    background-color: #faebd6;
    transition: left .3s;
    /* transition-delay: 0.15s; */
}

.rightcol__back {
    position: absolute;
    top: 15px;
    left: 10px;
    font-size: 1.2rem;
    font-weight: bold;
    cursor: pointer;
}

@media screen and (min-width: 768px) {
    .rightcol__back {
        font-size: 1.8rem;
        top: 30px;
        left: 20px;
    }
}

@media screen and (min-width: 992px){
    .rightcol {
        width: 65%;
        left: 35%;
        transition: none;
    }
    .rightcol__back {
        display: none;
    }
}

@media screen and (min-width: 1441px) {
    .rightcol {
        position: static;
        height: 100%;
        transition: none;
    }
}