@font-face {
    font-family: 'Dosis-Regular';
    src: url(../../fonts/Dosis/Dosis-Regular.ttf);
}

.talkimessage {
    float: right;
    clear: both;
    max-width: 272px;
    margin-bottom: 5px;
    padding: 8px;
    font-family: 'Dosis-Regular';
    font-size: 1rem;
    border-radius: 10px;
    background-color: #dbf8c6;
}


@media screen and (min-width: 768px) {
    
    .talkimessage {
        max-width: 610px;
        margin-bottom: 10px;
        padding: 20px;
        font-size: 1.5rem;
    }
    
}

@media screen and (min-width: 992px) {
    
    .talkimessage {
        max-width: 500px;
        margin-bottom: 10px;
        padding: 10px;
        font-size: 1rem;
    }
    
}