.messagecontainer {
    width: 100%;
    height: 80%;
    overflow: auto;
    background-color: #fff;
    
}

@media screen and (min-width: 1441px) {
    .messagecontainer {
        height: auto;
    }
   
}